.list-group a:hover {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.sidebar .list-group-item.selected {
    background-color: #007bff;
    color: #fff;
  }
  
  .sidebar .list-group-item.selected i {
    color: #fff;
  }